* {
    font-family: 'Inter', sans-serif;
    margin: 0;

}

section {
    height: 800px;
    width: 100%;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    color: #ffffff;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    color: #121212;
}

p {
    font-size: 18px;
    font-weight: normal;
    color: #707070;
    display: block;
    margin-top: 50px;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.banner {
    background-image: linear-gradient(rgba(20, 19, 19, 0.6), rgba(14, 1, 1, 0.3)), url(./images/cow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-text {

    width: 526px;
    padding-top: 200px;
    padding-left: 200px;

}

#banner-p {
    color: #ffffff;

}

button {
    padding: 16px 32px;
    background-color: #EF233C;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
}

.sec-2 {
    display: flex;
}